$manrope: "Jost";
$lightgreen: #8fcf21;
$green: #076324;
$gray: #5e5f62;
$black: #222;

@mixin font($titleVal, $lineHeight, $fontWeight) {
  font-size: $titleVal;
  color: $black;
  line-height: $lineHeight;
  font-weight: $fontWeight;
}

@media (max-width: 1000px) {
}

@media all and (max-width: 768px) {
  .navbar__wrap .menu {
    display: none;
  }

  .hamb {
    display: flex;
    align-items: center;
    order: 3;
    z-index: 101;
  }

  .hamb__field {
    padding: 10px 10px;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 20px;
    height: 2px;
    margin: 3px auto;
    background-color: #222222;
    transition: 0.2s;
    border-radius: 10px;
  }

  .popup {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.63);
    backdrop-filter: blur(200px);
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }

  .popup.open {
    left: 0;
  }

  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 30px 0 20px;
    overflow: auto;
  }

  .popup .menu > li {
    width: 100%;
    display: flex;
    padding-inline: 42px;
  }

  .popup .menu > li.line-li {
    padding-inline: 35px;
  }

  .popup .menu > li > .line {
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.22);
    margin: 38px 0;
  }

  .popup .menu > li > a {
    margin-right: auto;
    width: 100%;
    padding: 15px 0;
    @include font(20px, 20px, 400);
  }

  .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }

  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(3px) rotate(45deg);
  }

  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }

  // body.noscroll {
  //   overflow: hidden;
  // }

  header {
    .logo-menu {
      width: auto;

      a {
        svg {
          max-width: 44px;
          width: 100%;
          height: 100%;
          top: 5px;
        }
      }
    }

    .menu {
      li.icon-search {
        display: none;
      }

      .search-div {
        display: none;
      }

      .search-open {
        display: none;
      }
    }

    .phone-search {
      order: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 45px;
        padding: 0;

        li {
          a {
            flex-wrap: nowrap;
            @include font(14px, 14px, 400);
          }
        }
      }
      li.search-open {
        margin-left: 0px;
        cursor: pointer;
        position: relative;
        z-index: 100;
      }

      li.search-open svg path {
        transition: all 0.5s ease;
      }

      li.icon-search.active svg {
        fill: $green;
      }

      .search-div {
        position: absolute;
        top: 27px;
        width: 0px;
        right: 30px;
        background: white;
        transition: all 0.5s ease;
        opacity: 0;

        .search-section {
          width: 100%;

          .auto-suggest-submit {
            display: none;
          }

          form {
            border: 1px solid #469211;
            border-radius: 20px;
            padding: 0 0 0 7px;

            input {
              border: unset;
              margin-top: 0;
            }
          }

          input.auto-suggest-front {
            width: 92%;
            height: 30px;
            padding: 5px 10px;
            font-size: 14px;
            border-radius: 20px;
          }
        }
      }

      .search-div.active {
        width: 151px;
        pointer-events: all;
        opacity: 1;
      }
    }
  }

  section {
    overflow: hidden;
  }

  .cont {
    padding-inline: 15px;
  }

  .home {
    position: relative;
    top: 70px;
    padding: 70px 0;

    .heading {
      h1 {
        @include font(20px, 20px, 500);
      }

      .with-margin {
        margin-left: auto;
      }
    }

    .home-line {
      margin: 14px 0;
    }

    .wrapper-video {
      width: 100%;
      height: 514px;
      overflow: hidden;
      margin-top: 40px;
    }

    video {
      margin: 0;
      object-fit: contain;
      object-position: center;
      width: auto;
      height: 100%;
    }
  }

  .services {
    position: relative;
    padding: 50px 0 0 0;

    .heading {
      padding: 15px 0 0 0;

      h1 {
        @include font(14px, 14px, 500);
        text-transform: uppercase;
        margin: 0;
      }

      .wrapper-page {
        display: flex;
        gap: 50px;

        a {
          p {
            @include font(14px, 14px, 500);
            color: #0062aa;
            display: block;
          }
        }

        p {
          display: none;
        }
      }
    }

    .grid {
      margin-top: 30px;
      display: grid;

      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr;

      row-gap: 0;

      #item-1 {
        background-image: url(../src/img/serv-1.jpg);
        background-size: 120%;
        transition: all 0.3s;

        &:hover {
          transition: all 0.3s;
          background-size: 130%;
        }

        .title {
          p {
            color: white;
          }
        }
      }

      #item-3 {
        background-image: url(../src/img/serv-2.jpg);
        background-size: 120%;
        transition: all 0.3s;
        width: 100%;

        &:hover {
          transition: all 0.3s;
          background-size: 130%;
        }

        .title {
          p {
            color: white;
          }
        }
      }

      #item-6 {
        background-image: url(../src/img/serv-3.jpg);
        background-size: 120%;
        transition: all 0.3s;

        &:hover {
          transition: all 0.3s;
          background-size: 130%;
        }

        .title {
          p {
            color: white;
          }
        }
      }

      #item-7 {
        background-image: url(../src/img/serv-4.jpg);
        background-size: 120%;
        transition: all 0.3s;
        background-position: right;

        &:hover {
          transition: all 0.3s;
          background-size: 130%;
        }

        .title {
          p {
            color: white;
          }
        }
      }

      #item-0 {
        display: none;
      }
      #item-1 {
        grid-row-start: 1;
        grid-column-start: 1;

        grid-row-end: 2;
        grid-column-end: 2;
      }
      #item-2 {
        grid-row-start: 2;
        grid-column-start: 1;

        grid-row-end: 3;
        grid-column-end: 2;
      }
      #item-3 {
        grid-row-start: 3;
        grid-column-start: 1;

        grid-row-end: 4;
        grid-column-end: 2;
      }
      #item-4 {
        display: none;
      }
      #item-5 {
        grid-row-start: 4;
        grid-column-start: 1;

        grid-row-end: 5;
        grid-column-end: 2;

        .title {
          margin: auto 0 20px 20px;
        }
      }
      #item-6 {
        grid-row-start: 5;
        grid-column-start: 1;

        grid-row-end: 6;
        grid-column-end: 2;
      }
      #item-7 {
        grid-row-start: 7;
        grid-column-start: 1;

        grid-row-end: 8;
        grid-column-end: 2;
      }
      #item-8 {
        grid-row-start: 6;
        grid-column-start: 1;

        grid-row-end: 7;
        grid-column-end: 2;
      }
    }
  }

  .about {
    padding: 50px 0;

    .heading {
      padding: 15px 0 0 0;
      justify-content: space-between;

      h1 {
        @include font(14px, 16px, 500);
      }

      p {
        display: none;
      }
    }

    .description {
      margin-top: 30px;
      margin-left: 0;

      .mobile-p {
        display: block;
        @include font(14px, 20px, 400);
        text-transform: uppercase;
      }

      h2 {
        @include font(20px, 24px, 500);
        text-transform: uppercase;
        margin: 0;
        margin-top: 30px;

        span {
          @include font(20px, 24px, 500);
          text-transform: uppercase;
          color: $lightgreen;
        }
      }

      .wrapper-p {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 30px;

        p {
          @include font(14px, 20px, 400);
          max-width: 100%;

          &:last-child {
            max-width: 100%;
          }
        }
      }
    }

    .wrapper-img {
      margin-top: 28px;
      display: flex;
      align-items: start;
      justify-content: start;
      gap: 0;
      position: relative;
      z-index: 1;

      .smaller-img {
        display: none;
      }

      .bigger-img {
        max-width: 289px;
      }

      h3 {
        @include font(48px, 67px, 500);
        color: $lightgreen;
        position: absolute;
        z-index: 2;
        right: 10px;
        bottom: 0;
      }
    }

    .wrapper-text-btn {
      margin-top: 30px;
      margin-left: 0;
      gap: 30px;

      p {
        @include font(14px, 20px, 400);
        max-width: 100%;
        margin-bottom: 30px;
      }

      a {
        @include font(14px, 20px, 500);
        color: #0062aa;
        text-transform: uppercase;
      }
    }
  }

  .advantages {
    .heading {
      padding: 15px 0 0 0;

      h1 {
        @include font(14px, 16px, 500);
      }
    }

    .grid {
      margin-top: 40px;

      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

      gap: 8px;
      height: 100%;
      margin-left: 0;
      overflow-x: scroll;

      .grid-item {
        width: 324px;
        height: 324px;
      }
    }

    #item-0 {
      grid-row-start: 1;
      grid-column-start: 1;

      grid-row-end: 2;
      grid-column-end: 2;
    }
    #item-1 {
      grid-row-start: 1;
      grid-column-start: 2;

      grid-row-end: 2;
      grid-column-end: 3;
    }
    #item-2 {
      grid-row-start: 1;
      grid-column-start: 3;

      grid-row-end: 2;
      grid-column-end: 4;
    }
    #item-3 {
      grid-row-start: 1;
      grid-column-start: 4;

      grid-row-end: 2;
      grid-column-end: 5;
    }
    #item-4 {
      grid-row-start: 1;
      grid-column-start: 5;

      grid-row-end: 2;
      grid-column-end: 6;
    }
  }

  .news {
    position: relative;
    padding: 50px 0;

    .heading {
      padding: 15px 0 0 0;

      h1 {
        @include font(14px, 14px, 500);
      }

      .wrapper-page {
        a {
          p {
            @include font(14px, 14px, 500);
            color: #0062aa;
            display: block;
          }
        }
        p {
          display: none;
        }
      }
    }

    .wrapper-news {
      margin-left: 0;
      margin-top: 30px;
      overflow-x: scroll;
      display: flex;
      gap: 20px;

      .news-item {
        display: flex;
        border-bottom: none;
        padding: 0;
        flex-direction: column;
        flex-shrink: 0;

        .date {
          p {
            @include font(14px, 14px, 500);
          }
        }

        .img-desc {
          gap: 16px;
          margin-left: 0;
          margin-right: 0;
          flex-direction: column;
          margin-top: 16px;

          .desc {
            max-width: 291px;

            h1 {
              @include font(16px, 16px, 500);
            }

            p {
              @include font(14px, 16px, 400);
            }
          }
        }

        a {
          margin-top: 16px;
        }
      }
    }
  }

  .order {
    padding-bottom: 50px;

    .heading {
      padding: 15px 0 0 0;

      h1 {
        @include font(14px, 14px, 500);
      }
    }

    .title {
      margin-top: 44px;
      margin-bottom: 52px;

      a {
        @include font(20px, 20px, 500);
        color: $lightgreen;
      }

      a.phone-link {
        margin-left: auto;
        margin-top: 14px;
      }
    }

    .wrapper-form {
      margin-left: 0;

      form {
        .user-box {
          input {
            margin-bottom: 20px;
            background: transparent;
            @include font(14px, 14px, 400);
            color: #303030;
          }

          label {
            @include font(14px, 14px, 400);
            color: #303030;
          }
        }

        .user-box-1 {
          margin-right: 0;
        }

        .user-box-1,
        .user-box-2 {
          flex-basis: 100%;
          max-width: 100%;
        }

        .submit-user {
          margin-top: 30px;
          @include font(14px, 14px, 500);
          color: #0062aa;
        }
      }
    }
  }

  footer {
    padding: 45px 0 0 0;

    .logo-mob {
      display: flex;
      flex-wrap: nowrap;
      align-items: start;
      gap: 42px;

      svg {
        display: block;
        flex-shrink: 0;

        width: 44px;
        height: auto;
      }
    }

    .navigation {
      flex-wrap: wrap;
      gap: 28px;
      justify-content: space-between;

      .logo-wrapper {
        display: none;
      }

      .work-time {
        flex-basis: 50%;
      }

      .navigate {
        flex-basis: 42%;
      }

      .social-net {
        flex-basis: 42%;
      }

      .address {
        flex-basis: 50%;
      }
    }

    .wrapper-form {
      margin-bottom: 37px;

      .heading {
        margin-top: 50px;
        padding-bottom: 16px;

        h1 {
          @include font(14px, 14px, 500);
          color: #ffffff;
        }
      }

      form {
        input {
          &::placeholder {
            color: #898989;
          }
        }
        #name {
          flex-basis: 100%;
          max-width: 100%;
          margin-right: 0px;
        }

        #email {
          flex-basis: 100%;
          max-width: 100%;
        }

        #message {
          flex-basis: 100%;
          margin-top: 20px;
        }

        #submit {
          margin-top: 20px;
          @include font(14px, 14px, 500);
          color: white;
        }
      }
    }

    .copyright {
      border-bottom: none;
      padding: 30px 0;
      flex-direction: column;
      gap: 30px;
      padding-left: 100px;

      h2 {
        @include font(14px, 14px, 400);
        color: #7d7d7d;

        &:nth-child(2) {
          margin-left: 0;
        }
      }

      a {
        margin-left: 0;
      }
    }
  }

  .thx {
    height: 100vh;
    padding: 150px 0 100px;
    display: flex;
    align-items: center;

    h1 {
      @include font(24px, 24px, 400);
    }

    h2 {
      @include font(14px, 14px, 500);
      color: #0062aa;
      margin-top: 20px;
    }
  }

  .page_not {
    .start {
      h2 {
        margin-top: 50px;
        @include font(14px, 14px, 500);
      }

      .spin {
        height: 111px;

        svg {
          margin-left: 44px;
          margin-top: 22px;
          width: 65px;
          height: auto;
        }
      }
    }

    h1 {
      @include font(160px, 160px, 300);
    }

    .end {
      border-top: 1px solid #000;
      display: flex;
      justify-content: space-between;

      h2 {
        @include font(14px, 14px, 500);

        margin-top: 50px;
      }

      .spin {
        height: 111px;

        a {
          margin-left: 26px;
          margin-top: 53px;

          h2 {
            @include font(14px, 14px, 500);
            color: #0062aa;
          }
        }
      }
    }
  }

  .modal-body {
    max-width: 553px;
    width: 100%;
    padding: 20px !important;

    .heading {
      margin-bottom: 30px;
      margin-top: 36px;

      h1 {
        @include font(20px, 20px, 500);
        color: #8fcf21;
      }
    }

    form {
      input#modal-btn {
        margin-left: auto;
        margin-top: 10px;
        width: fit-content;
        margin-bottom: 30px;
      }
    }
  }
}
