$manrope: "Jost";
$blue: #047481;
$darkblue: #111928;
$gray: #5e5f62;
$black: #222;

@mixin font($titleVal, $lineHeight, $fontWeight) {
  font-size: $titleVal;
  color: $black;
  line-height: $lineHeight;
  font-weight: $fontWeight;
}

@media (max-width: 1000px) {
}

@media all and (max-width: 768px) {
  .navbar__wrap .menu {
    display: none;
  }

  .hamb {
    display: flex;
    align-items: center;
    order: 3;
  }

  .hamb__field {
    padding: 10px 10px;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 20px;
    height: 2px;
    margin: 3px auto;
    background-color: #222222;
    transition: 0.2s;
    border-radius: 10px;
  }

  .popup {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.63);
    backdrop-filter: blur(200px);
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }

  .popup.open {
    left: 0;
  }

  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 30px 0 20px;
    overflow: auto;
  }

  .popup .menu > li {
    width: 100%;
    display: flex;
    padding-inline: 42px;
  }

  .popup .menu > li > .line {
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.22);
    margin: 48px 0;
  }

  .popup .menu > li > a {
    margin-right: auto;
    width: 100%;
    padding: 15px 0;
    @include font(20px, 20px, 400);
  }

  .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }

  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(3px) rotate(45deg);
  }

  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }

  body.noscroll {
    overflow: hidden;
  }

  header {
    .logo-menu {
      width: auto;

      a {
        img {
          max-width: 44px;
          width: 100%;
          height: 100%;
        }
      }
    }

    .phone-search {
      order: 2;
      display: flex;
      align-items: center;
      justify-content: center;

      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 45px;
        padding: 0;

        li {
          a {
            flex-wrap: nowrap;
            @include font(14px, 14px, 400);
          }
        }
      }
    }
  }

  section {
    overflow: hidden;
  }

  .cont {
    padding-inline: 5px;
  }
}
