@media all and (max-width: 768px) {
  .navbar__wrap .menu {
    display: none;
  }
  .hamb {
    display: flex;
    align-items: center;
    order: 3;
    z-index: 101;
  }
  .hamb__field {
    padding: 10px 10px;
    cursor: pointer;
  }
  .bar {
    display: block;
    width: 20px;
    height: 2px;
    margin: 3px auto;
    background-color: #222222;
    transition: 0.2s;
    border-radius: 10px;
  }
  .popup {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.63);
    -webkit-backdrop-filter: blur(200px);
            backdrop-filter: blur(200px);
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }
  .popup.open {
    left: 0;
  }
  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 30px 0 20px;
    overflow: auto;
  }
  .popup .menu > li {
    width: 100%;
    display: flex;
    padding-inline: 42px;
  }
  .popup .menu > li.line-li {
    padding-inline: 35px;
  }
  .popup .menu > li > .line {
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.22);
    margin: 38px 0;
  }
  .popup .menu > li > a {
    margin-right: auto;
    width: 100%;
    padding: 15px 0;
    font-size: 20px;
    color: #222;
    line-height: 20px;
    font-weight: 400;
  }
  .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }
  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(3px) rotate(45deg);
  }
  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
  body.noscroll {
    overflow: hidden;
  }
  header .logo-menu {
    width: auto;
  }
  header .logo-menu a img {
    max-width: 44px;
    width: 100%;
    height: 100%;
  }
  header .menu li.icon-search {
    display: none;
  }
  header .phone-search {
    order: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .phone-search ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
    padding: 0;
  }
  header .phone-search ul li a {
    flex-wrap: nowrap;
    font-size: 14px;
    color: #222;
    line-height: 14px;
    font-weight: 400;
  }
  section {
    overflow: hidden;
  }
  .cont {
    padding-inline: 5px;
  }
  .home {
    position: relative;
    top: 70px;
    padding: 70px 0;
  }
  .home .heading h1 {
    font-size: 20px;
    color: #222;
    line-height: 20px;
    font-weight: 500;
  }
  .home .heading .with-margin {
    margin-left: auto;
  }
  .home .home-line {
    margin: 14px 0;
  }
  .home .wrapper-video {
    width: 100%;
    height: 514px;
    overflow: hidden;
    margin-top: 40px;
  }
  .home video {
    margin: 0;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
    width: auto;
    height: 100%;
  }
  .services {
    position: relative;
    padding: 50px 0 0 0;
  }
  .services .heading {
    padding: 15px 0 0 0;
  }
  .services .heading h1 {
    font-size: 14px;
    color: #222;
    line-height: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
  }
  .services .heading .wrapper-page {
    display: flex;
    gap: 50px;
  }
  .services .heading .wrapper-page a p {
    font-size: 14px;
    color: #222;
    line-height: 14px;
    font-weight: 500;
    color: #0062aa;
    display: block;
  }
  .services .heading .wrapper-page p {
    display: none;
  }
  .services .grid {
    margin-top: 30px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    row-gap: 0;
  }
  .services .grid #item-1 {
    background-image: url(../src/img/serv-1.jpg);
    background-size: 120%;
    transition: all 0.3s;
  }
  .services .grid #item-1:hover {
    transition: all 0.3s;
    background-size: 130%;
  }
  .services .grid #item-1 .title p {
    color: white;
  }
  .services .grid #item-3 {
    background-image: url(../src/img/serv-2.jpg);
    background-size: 120%;
    transition: all 0.3s;
    width: 100%;
  }
  .services .grid #item-3:hover {
    transition: all 0.3s;
    background-size: 130%;
  }
  .services .grid #item-3 .title p {
    color: white;
  }
  .services .grid #item-6 {
    background-image: url(../src/img/serv-3.jpg);
    background-size: 120%;
    transition: all 0.3s;
  }
  .services .grid #item-6:hover {
    transition: all 0.3s;
    background-size: 130%;
  }
  .services .grid #item-6 .title p {
    color: white;
  }
  .services .grid #item-7 {
    background-image: url(../src/img/serv-4.jpg);
    background-size: 120%;
    transition: all 0.3s;
    background-position: right;
  }
  .services .grid #item-7:hover {
    transition: all 0.3s;
    background-size: 130%;
  }
  .services .grid #item-7 .title p {
    color: white;
  }
  .services .grid #item-0 {
    display: none;
  }
  .services .grid #item-1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
  }
  .services .grid #item-2 {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
  }
  .services .grid #item-3 {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 2;
  }
  .services .grid #item-4 {
    display: none;
  }
  .services .grid #item-5 {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 2;
  }
  .services .grid #item-5 .title {
    margin: auto 0 20px 20px;
  }
  .services .grid #item-6 {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 2;
  }
  .services .grid #item-7 {
    grid-row-start: 7;
    grid-column-start: 1;
    grid-row-end: 8;
    grid-column-end: 2;
  }
  .services .grid #item-8 {
    grid-row-start: 6;
    grid-column-start: 1;
    grid-row-end: 7;
    grid-column-end: 2;
  }
  .about {
    padding: 50px 0;
  }
  .about .heading {
    padding: 15px 0 0 0;
    justify-content: space-between;
  }
  .about .heading h1 {
    font-size: 14px;
    color: #222;
    line-height: 16px;
    font-weight: 500;
  }
  .about .heading p {
    display: none;
  }
  .about .description {
    margin-top: 30px;
    margin-left: 0;
  }
  .about .description .mobile-p {
    display: block;
    font-size: 14px;
    color: #222;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .about .description h2 {
    font-size: 20px;
    color: #222;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    margin-top: 30px;
  }
  .about .description h2 span {
    font-size: 20px;
    color: #222;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #8fcf21;
  }
  .about .description .wrapper-p {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 30px;
  }
  .about .description .wrapper-p p {
    font-size: 14px;
    color: #222;
    line-height: 20px;
    font-weight: 400;
    max-width: 100%;
  }
  .about .description .wrapper-p p:last-child {
    max-width: 100%;
  }
  .about .wrapper-img {
    margin-top: 28px;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 0;
    position: relative;
    z-index: 1;
  }
  .about .wrapper-img .smaller-img {
    display: none;
  }
  .about .wrapper-img .bigger-img {
    max-width: 289px;
  }
  .about .wrapper-img h3 {
    font-size: 48px;
    color: #222;
    line-height: 67px;
    font-weight: 500;
    color: #8fcf21;
    position: absolute;
    z-index: 2;
    right: 10px;
    bottom: 0;
  }
  .about .wrapper-text-btn {
    margin-top: 30px;
    margin-left: 0;
    gap: 30px;
  }
  .about .wrapper-text-btn p {
    font-size: 14px;
    color: #222;
    line-height: 20px;
    font-weight: 400;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .about .wrapper-text-btn a {
    font-size: 14px;
    color: #222;
    line-height: 20px;
    font-weight: 500;
    color: #0062aa;
    text-transform: uppercase;
  }
  .advantages .heading {
    padding: 15px 0 0 0;
  }
  .advantages .heading h1 {
    font-size: 14px;
    color: #222;
    line-height: 16px;
    font-weight: 500;
  }
  .advantages .grid {
    margin-top: 40px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 8px;
    height: 100%;
    margin-left: 0;
    overflow-x: scroll;
  }
  .advantages .grid .grid-item {
    width: 324px;
    height: 324px;
  }
  .advantages #item-0 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
  }
  .advantages #item-1 {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
  }
  .advantages #item-2 {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 4;
  }
  .advantages #item-3 {
    grid-row-start: 1;
    grid-column-start: 4;
    grid-row-end: 2;
    grid-column-end: 5;
  }
  .advantages #item-4 {
    grid-row-start: 1;
    grid-column-start: 5;
    grid-row-end: 2;
    grid-column-end: 6;
  }
  .news {
    position: relative;
    padding: 50px 0;
  }
  .news .heading {
    padding: 15px 0 0 0;
  }
  .news .heading h1 {
    font-size: 14px;
    color: #222;
    line-height: 14px;
    font-weight: 500;
  }
  .news .heading .wrapper-page a p {
    font-size: 14px;
    color: #222;
    line-height: 14px;
    font-weight: 500;
    color: #0062aa;
    display: block;
  }
  .news .heading .wrapper-page p {
    display: none;
  }
  .news .wrapper-news {
    margin-left: 0;
    margin-top: 30px;
    overflow-x: scroll;
    display: flex;
    gap: 20px;
  }
  .news .wrapper-news .news-item {
    display: flex;
    border-bottom: none;
    padding: 0;
    flex-direction: column;
    flex-shrink: 0;
  }
  .news .wrapper-news .news-item .date p {
    font-size: 14px;
    color: #222;
    line-height: 14px;
    font-weight: 500;
  }
  .news .wrapper-news .news-item .img-desc {
    gap: 16px;
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
    margin-top: 16px;
  }
  .news .wrapper-news .news-item .img-desc .desc {
    max-width: 291px;
  }
  .news .wrapper-news .news-item .img-desc .desc h1 {
    font-size: 16px;
    color: #222;
    line-height: 16px;
    font-weight: 500;
  }
  .news .wrapper-news .news-item .img-desc .desc p {
    font-size: 14px;
    color: #222;
    line-height: 16px;
    font-weight: 400;
  }
  .news .wrapper-news .news-item a {
    margin-top: 16px;
  }
}/*# sourceMappingURL=responsive.css.map */