@media all and (max-width: 768px) {
  .navbar__wrap .menu {
    display: none;
  }
  .hamb {
    display: flex;
    align-items: center;
    order: 3;
    z-index: 101;
  }
  .hamb__field {
    padding: 10px 10px;
    cursor: pointer;
  }
  .bar {
    display: block;
    width: 20px;
    height: 2px;
    margin: 3px auto;
    background-color: #222222;
    transition: 0.2s;
    border-radius: 10px;
  }
  .popup {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.93);
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }
  .popup.open {
    left: 0;
  }
  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 30px 0 20px;
    overflow: auto;
  }
  .popup .menu > li {
    width: 100%;
    display: flex;
    padding-inline: 42px;
  }
  .popup .menu > li.line-li {
    padding-inline: 35px;
  }
  .popup .menu > li > .line {
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.22);
    margin: 38px 0;
  }
  .popup .menu > li > a {
    margin-right: auto;
    width: 100%;
    padding: 15px 0;
    font-size: 20px;
    color: #222;
    line-height: 20px;
    font-weight: 400;
  }
  .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }
  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(3px) rotate(45deg);
  }
  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
  header .logo-menu {
    width: auto;
  }
  header .logo-menu a svg {
    max-width: 44px;
    width: 100%;
    height: 100%;
    top: 5px;
  }
  header .menu li.icon-search {
    display: none;
  }
  header .menu .search-div {
    display: none;
  }
  header .menu .search-open {
    display: none;
  }
  header .phone-search {
    order: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  header .phone-search ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
    padding: 0;
  }
  header .phone-search ul li a {
    flex-wrap: nowrap;
    font-size: 14px;
    color: #222;
    line-height: 14px;
    font-weight: 400;
  }
  header .phone-search li.search-open {
    margin-left: 0px;
    cursor: pointer;
    position: relative;
    z-index: 100;
  }
  header .phone-search li.search-open svg path {
    transition: all 0.5s ease;
  }
  header .phone-search li.icon-search.active svg {
    fill: #076324;
  }
  header .phone-search .search-div {
    position: absolute;
    top: 27px;
    width: 0px;
    right: 30px;
    background: white;
    transition: all 0.5s ease;
    opacity: 0;
  }
  header .phone-search .search-div .search-section {
    width: 100%;
  }
  header .phone-search .search-div .search-section .auto-suggest-submit {
    display: none;
  }
  header .phone-search .search-div .search-section form {
    border: 1px solid #469211;
    border-radius: 20px;
    padding: 0 0 0 7px;
  }
  header .phone-search .search-div .search-section form input {
    border: unset;
    margin-top: 0;
  }
  header .phone-search .search-div .search-section input.auto-suggest-front {
    width: 92%;
    height: 30px;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 20px;
  }
  header .phone-search .search-div.active {
    width: 151px;
    pointer-events: all;
    opacity: 1;
  }
  section {
    overflow: hidden;
  }
  .cont {
    padding-inline: 15px;
  }
  .home {
    position: relative;
    top: 70px;
    padding: 70px 0;
  }
  .home .heading h1 {
    font-size: 20px;
    color: #222;
    line-height: 20px;
    font-weight: 500;
  }
  .home .heading .with-margin {
    margin-left: auto;
  }
  .home .home-line {
    margin: 14px 0;
  }
  .home .wrapper-video {
    width: 100%;
    height: 514px;
    overflow: hidden;
    margin-top: 40px;
  }
  .home video {
    margin: 0;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
    width: auto;
    height: 100%;
  }
  .services {
    position: relative;
    padding: 50px 0 0 0;
  }
  .services .heading {
    padding: 15px 0 0 0;
  }
  .services .heading h1 {
    font-size: 14px;
    color: #222;
    line-height: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
  }
  .services .heading .wrapper-page {
    display: flex;
    gap: 50px;
  }
  .services .heading .wrapper-page a p {
    font-size: 14px;
    color: #222;
    line-height: 14px;
    font-weight: 500;
    color: #0062aa;
    display: block;
  }
  .services .heading .wrapper-page p {
    display: none;
  }
  .services .grid {
    margin-top: 30px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    row-gap: 0;
  }
  .services .grid #item-1 {
    background-image: url(../src/img/serv-1.jpg);
    background-size: 120%;
    transition: all 0.3s;
  }
  .services .grid #item-1:hover {
    transition: all 0.3s;
    background-size: 130%;
  }
  .services .grid #item-1 .title p {
    color: white;
  }
  .services .grid #item-3 {
    background-image: url(../src/img/serv-2.jpg);
    background-size: 120%;
    transition: all 0.3s;
    width: 100%;
  }
  .services .grid #item-3:hover {
    transition: all 0.3s;
    background-size: 130%;
  }
  .services .grid #item-3 .title p {
    color: white;
  }
  .services .grid #item-6 {
    background-image: url(../src/img/serv-3.jpg);
    background-size: 120%;
    transition: all 0.3s;
  }
  .services .grid #item-6:hover {
    transition: all 0.3s;
    background-size: 130%;
  }
  .services .grid #item-6 .title p {
    color: white;
  }
  .services .grid #item-7 {
    background-image: url(../src/img/serv-4.jpg);
    background-size: 120%;
    transition: all 0.3s;
    background-position: right;
  }
  .services .grid #item-7:hover {
    transition: all 0.3s;
    background-size: 130%;
  }
  .services .grid #item-7 .title p {
    color: white;
  }
  .services .grid #item-0 {
    display: none;
  }
  .services .grid #item-1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
  }
  .services .grid #item-2 {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
  }
  .services .grid #item-3 {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 2;
  }
  .services .grid #item-4 {
    display: none;
  }
  .services .grid #item-5 {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 2;
  }
  .services .grid #item-5 .title {
    margin: auto 0 20px 20px;
  }
  .services .grid #item-6 {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 2;
  }
  .services .grid #item-7 {
    grid-row-start: 7;
    grid-column-start: 1;
    grid-row-end: 8;
    grid-column-end: 2;
  }
  .services .grid #item-8 {
    grid-row-start: 6;
    grid-column-start: 1;
    grid-row-end: 7;
    grid-column-end: 2;
  }
  .about {
    padding: 50px 0;
  }
  .about .heading {
    padding: 15px 0 0 0;
    justify-content: space-between;
  }
  .about .heading h1 {
    font-size: 14px;
    color: #222;
    line-height: 16px;
    font-weight: 500;
  }
  .about .heading p {
    display: none;
  }
  .about .description {
    margin-top: 30px;
    margin-left: 0;
  }
  .about .description .mobile-p {
    display: block;
    font-size: 14px;
    color: #222;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .about .description h2 {
    font-size: 20px;
    color: #222;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    margin-top: 30px;
  }
  .about .description h2 span {
    font-size: 20px;
    color: #222;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #8fcf21;
  }
  .about .description .wrapper-p {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 30px;
  }
  .about .description .wrapper-p p {
    font-size: 14px;
    color: #222;
    line-height: 20px;
    font-weight: 400;
    max-width: 100%;
  }
  .about .description .wrapper-p p:last-child {
    max-width: 100%;
  }
  .about .wrapper-img {
    margin-top: 28px;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 0;
    position: relative;
    z-index: 1;
  }
  .about .wrapper-img .smaller-img {
    display: none;
  }
  .about .wrapper-img .bigger-img {
    max-width: 289px;
  }
  .about .wrapper-img h3 {
    font-size: 48px;
    color: #222;
    line-height: 67px;
    font-weight: 500;
    color: #8fcf21;
    position: absolute;
    z-index: 2;
    right: 10px;
    bottom: 0;
  }
  .about .wrapper-text-btn {
    margin-top: 30px;
    margin-left: 0;
    gap: 30px;
  }
  .about .wrapper-text-btn p {
    font-size: 14px;
    color: #222;
    line-height: 20px;
    font-weight: 400;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .about .wrapper-text-btn a {
    font-size: 14px;
    color: #222;
    line-height: 20px;
    font-weight: 500;
    color: #0062aa;
    text-transform: uppercase;
  }
  .advantages .heading {
    padding: 15px 0 0 0;
  }
  .advantages .heading h1 {
    font-size: 14px;
    color: #222;
    line-height: 16px;
    font-weight: 500;
  }
  .advantages .grid {
    margin-top: 40px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 8px;
    height: 100%;
    margin-left: 0;
    overflow-x: scroll;
  }
  .advantages .grid .grid-item {
    width: 324px;
    height: 324px;
  }
  .advantages #item-0 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
  }
  .advantages #item-1 {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
  }
  .advantages #item-2 {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 4;
  }
  .advantages #item-3 {
    grid-row-start: 1;
    grid-column-start: 4;
    grid-row-end: 2;
    grid-column-end: 5;
  }
  .advantages #item-4 {
    grid-row-start: 1;
    grid-column-start: 5;
    grid-row-end: 2;
    grid-column-end: 6;
  }
  .news {
    position: relative;
    padding: 50px 0;
  }
  .news .heading {
    padding: 15px 0 0 0;
  }
  .news .heading h1 {
    font-size: 14px;
    color: #222;
    line-height: 14px;
    font-weight: 500;
  }
  .news .heading .wrapper-page a p {
    font-size: 14px;
    color: #222;
    line-height: 14px;
    font-weight: 500;
    color: #0062aa;
    display: block;
  }
  .news .heading .wrapper-page p {
    display: none;
  }
  .news .wrapper-news {
    margin-left: 0;
    margin-top: 30px;
    overflow-x: scroll;
    display: flex;
    gap: 20px;
  }
  .news .wrapper-news .news-item {
    display: flex;
    border-bottom: none;
    padding: 0;
    flex-direction: column;
    flex-shrink: 0;
  }
  .news .wrapper-news .news-item .date p {
    font-size: 14px;
    color: #222;
    line-height: 14px;
    font-weight: 500;
  }
  .news .wrapper-news .news-item .img-desc {
    gap: 16px;
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
    margin-top: 16px;
  }
  .news .wrapper-news .news-item .img-desc .desc {
    max-width: 291px;
  }
  .news .wrapper-news .news-item .img-desc .desc h1 {
    font-size: 16px;
    color: #222;
    line-height: 16px;
    font-weight: 500;
  }
  .news .wrapper-news .news-item .img-desc .desc p {
    font-size: 14px;
    color: #222;
    line-height: 16px;
    font-weight: 400;
  }
  .news .wrapper-news .news-item a {
    margin-top: 16px;
  }
  .order {
    padding-bottom: 50px;
  }
  .order .heading {
    padding: 15px 0 0 0;
  }
  .order .heading h1 {
    font-size: 14px;
    color: #222;
    line-height: 14px;
    font-weight: 500;
  }
  .order .title {
    margin-top: 44px;
    margin-bottom: 52px;
  }
  .order .title a {
    font-size: 20px;
    color: #222;
    line-height: 20px;
    font-weight: 500;
    color: #8fcf21;
  }
  .order .title a.phone-link {
    margin-left: auto;
    margin-top: 14px;
  }
  .order .wrapper-form {
    margin-left: 0;
  }
  .order .wrapper-form form .user-box input {
    margin-bottom: 20px;
    background: transparent;
    font-size: 14px;
    color: #222;
    line-height: 14px;
    font-weight: 400;
    color: #303030;
  }
  .order .wrapper-form form .user-box label {
    font-size: 14px;
    color: #222;
    line-height: 14px;
    font-weight: 400;
    color: #303030;
  }
  .order .wrapper-form form .user-box-1 {
    margin-right: 0;
  }
  .order .wrapper-form form .user-box-1,
  .order .wrapper-form form .user-box-2 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .order .wrapper-form form .submit-user {
    margin-top: 30px;
    font-size: 14px;
    color: #222;
    line-height: 14px;
    font-weight: 500;
    color: #0062aa;
  }
  footer {
    padding: 45px 0 0 0;
  }
  footer .logo-mob {
    display: flex;
    flex-wrap: nowrap;
    align-items: start;
    gap: 42px;
  }
  footer .logo-mob svg {
    display: block;
    flex-shrink: 0;
    width: 44px;
    height: auto;
  }
  footer .navigation {
    flex-wrap: wrap;
    gap: 28px;
    justify-content: space-between;
  }
  footer .navigation .logo-wrapper {
    display: none;
  }
  footer .navigation .work-time {
    flex-basis: 50%;
  }
  footer .navigation .navigate {
    flex-basis: 42%;
  }
  footer .navigation .social-net {
    flex-basis: 42%;
  }
  footer .navigation .address {
    flex-basis: 50%;
  }
  footer .wrapper-form {
    margin-bottom: 37px;
  }
  footer .wrapper-form .heading {
    margin-top: 50px;
    padding-bottom: 16px;
  }
  footer .wrapper-form .heading h1 {
    font-size: 14px;
    color: #222;
    line-height: 14px;
    font-weight: 500;
    color: #ffffff;
  }
  footer .wrapper-form form input::-moz-placeholder {
    color: #898989;
  }
  footer .wrapper-form form input::placeholder {
    color: #898989;
  }
  footer .wrapper-form form #name {
    flex-basis: 100%;
    max-width: 100%;
    margin-right: 0px;
  }
  footer .wrapper-form form #email {
    flex-basis: 100%;
    max-width: 100%;
  }
  footer .wrapper-form form #message {
    flex-basis: 100%;
    margin-top: 20px;
  }
  footer .wrapper-form form #submit {
    margin-top: 20px;
    font-size: 14px;
    color: #222;
    line-height: 14px;
    font-weight: 500;
    color: white;
  }
  footer .copyright {
    border-bottom: none;
    padding: 30px 0;
    flex-direction: column;
    gap: 30px;
    padding-left: 100px;
  }
  footer .copyright h2 {
    font-size: 14px;
    color: #222;
    line-height: 14px;
    font-weight: 400;
    color: #7d7d7d;
  }
  footer .copyright h2:nth-child(2) {
    margin-left: 0;
  }
  footer .copyright a {
    margin-left: 0;
  }
  .thx {
    height: 100vh;
    padding: 150px 0 100px;
    display: flex;
    align-items: center;
  }
  .thx h1 {
    font-size: 24px;
    color: #222;
    line-height: 24px;
    font-weight: 400;
  }
  .thx h2 {
    font-size: 14px;
    color: #222;
    line-height: 14px;
    font-weight: 500;
    color: #0062aa;
    margin-top: 20px;
  }
  .page_not .start h2 {
    margin-top: 50px;
    font-size: 14px;
    color: #222;
    line-height: 14px;
    font-weight: 500;
  }
  .page_not .start .spin {
    height: 111px;
  }
  .page_not .start .spin svg {
    margin-left: 44px;
    margin-top: 22px;
    width: 65px;
    height: auto;
  }
  .page_not h1 {
    font-size: 160px;
    color: #222;
    line-height: 160px;
    font-weight: 300;
  }
  .page_not .end {
    border-top: 1px solid #000;
    display: flex;
    justify-content: space-between;
  }
  .page_not .end h2 {
    font-size: 14px;
    color: #222;
    line-height: 14px;
    font-weight: 500;
    margin-top: 50px;
  }
  .page_not .end .spin {
    height: 111px;
  }
  .page_not .end .spin a {
    margin-left: 26px;
    margin-top: 53px;
  }
  .page_not .end .spin a h2 {
    font-size: 14px;
    color: #222;
    line-height: 14px;
    font-weight: 500;
    color: #0062aa;
  }
  .modal-body {
    max-width: 553px;
    width: 100%;
    padding: 20px !important;
  }
  .modal-body .heading {
    margin-bottom: 30px;
    margin-top: 36px;
  }
  .modal-body .heading h1 {
    font-size: 20px;
    color: #222;
    line-height: 20px;
    font-weight: 500;
    color: #8fcf21;
  }
  .modal-body form input#modal-btn {
    margin-left: auto;
    margin-top: 10px;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 30px;
  }
}/*# sourceMappingURL=responsive.css.map */