$manrope: "Jost";
$lightgreen: #8fcf21;
$green: #076324;
$gray: #5e5f62;
$black: #222;
$blue: #0062aa;

@mixin font($titleVal, $lineHeight, $fontWeight) {
  font-size: $titleVal;
  color: $black;
  line-height: $lineHeight;
  font-weight: $fontWeight;
}

.services-inner {
  padding: 130px 0;
  position: relative;

  .heading {
    display: flex;
    justify-content: space-between;

    h1,
    p {
      @include font(16px, 20px, 500);
      text-transform: uppercase;
    }

    .prev {
      color: #7d7d7d;
    }

    .bread-crumbs {
      display: flex;
      gap: 10px;
    }
  }

  .description {
    margin-top: 50px;
    margin-left: 295px;
    max-width: 652px;

    h1 {
      @include font(24px, 20px, 500);
      color: $lightgreen;
      text-transform: uppercase;
      margin-bottom: 24px;
    }

    h2 {
      @include font(16px, 20px, 500);
      margin-bottom: 20px;
    }

    p {
      @include font(16px, 20px, 400);
      color: #404040;
    }

    a {
      @include font(16px, 26px, 500);
      color: #0062aa;
      text-transform: uppercase;
      margin-top: 50px;
      display: inline-block;
    }
  }

  .wrapper-products {
    display: flex;
    gap: 31px;
    margin-top: 135px;

    .sorting {
      .name-btn {
        display: flex;
        gap: 134px;
        cursor: pointer;
        align-items: center;
        margin-bottom: 6px;

        h2 {
          @include font(16px, 20px, 500);
          text-transform: uppercase;
          margin: 0;
        }

        svg {
          transition: all 0.3s;
        }
      }

      .items {
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: hidden;
        height: 0px;
        transition: all 0.2s;
        border-bottom: 1px solid $black;

        .item {
          opacity: 0;
          visibility: hidden;
          transition: all 0.7s;

          h2 {
            @include font(16px, 20px, 400);
            margin: 0;
          }
        }

        &.active {
          height: 150px;
          overflow-y: scroll;
          transition: all 0.2s;

          .item {
            opacity: 1;
            visibility: visible;
            transition: all 0.7s;
          }
        }
      }

      &.active {
        .name-btn {
          svg {
            transform: rotate(180deg);
            transition: all 0.3s;
          }
        }
        .items {
          height: 150px;
          overflow-y: scroll;
          transition: all 0.2s;

          .item {
            opacity: 1;
            visibility: visible;
            transition: all 0.7s;
          }
        }
      }
    }

    .grid {
      width: 100%;
      height: 100%;

      display: grid;
      grid-template-rows: repeat(auto-fill, 432px);
      grid-template-columns: repeat(3, 1fr);
      gap: 20px 21px;

      .item {
        max-width: 301px;
        width: 100%;

        .wrapper-img {
          border: 1px solid $blue;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 49px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .title {
          height: 91px;
          border-bottom: 1px solid $blue;
          display: flex;
          align-items: center;
          p {
            @include font(16px, 20px, 400);
            height: fit-content;
          }
        }

        .price {
          display: flex;
          justify-content: space-between;
          margin-top: 20px;

          h2 {
            @include font(24px, 24px, 600);
            color: $blue;
            margin: 0;
          }

          a {
            @include font(16px, 27px, 600);
            color: $blue;
            text-decoration: underline !important;
          }
        }

        &:nth-child(n + 7) {
          display: none;
        }
      }
    }

    .more-items {
      @include font(16px, 26px, 500);
      color: $blue;
      background-color: transparent;
      text-transform: uppercase;
      display: inline-block;
      margin-top: 30px;
    }
  }
}

.article {
  position: relative;
  padding: 0 0 100px 0;

  .heading {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $green;
    padding-top: 24px;

    h1 {
      @include font(16px, 16px, 500);
      text-transform: uppercase;
      margin: 0;
    }
  }

  .text {
    max-width: 652px;
    margin-left: 295px;

    p {
      @include font(16px, 20px, 400);
    }

    ul {
      li {
        list-style-type: disc;
      }
    }

    h2 {
      @include font(16px, 22px, 600);
      color: #404040;
      margin: 0;
    }
  }
}
