@import url("../src/Manrope/stylesheet.css");
* {
  font-family: "Jost";
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 16px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a:hover {
  color: inherit;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none !important;
  color: white;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #076324;
}
html::-webkit-scrollbar-thumb {
  background: linear-gradient(112.92deg, rgba(255, 255, 255, 0.36) 10.45%, #8fcf21);
}

dl,
ol,
ul,
p {
  margin-top: 0;
  margin-bottom: 0 !important;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.menu > li > a {
  text-decoration: none;
}

.navbar__wrap .menu {
  display: flex;
}

.navbar__wrap .menu > li {
  display: flex;
  align-items: stretch;
}

.navbar__wrap .menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 12px;
  color: #222;
  transition: all 0.2s;
  font-size: 14px;
  color: #222;
  line-height: 14px;
  font-weight: 400;
}

.navbar__wrap .menu > li > a:hover {
  color: #076324;
  transition: all 0.2s;
}

.navbar__wrap .menu .mobile-li {
  display: none;
}

.cont {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.custom-btn {
  background-color: #076324;
  padding: 17px 40px;
  font-size: 16px;
  color: #222;
  line-height: 20px;
  font-weight: 500;
  color: white;
  transition: all 0.3s;
}
.custom-btn:hover {
  transition: all 0.3s;
  background-color: #8fcf21;
}

header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  transition: top 0.3s ease;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.22);
}
header .logo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 79px;
}
header .logo-menu a img {
  width: 82px;
  height: 100%;
  position: relative;
  top: 10px;
}
header .logo-menu .menu li.icon-search {
  margin-left: 40px;
}
header .logo-menu .menu li.phone-li {
  margin-left: 40px;
}
header .phone-search {
  display: none;
}

.home {
  position: relative;
  top: 100px;
  padding: 100px 0;
}
.home .heading {
  display: flex;
  flex-direction: column;
}
.home .heading h1 {
  font-size: 40px;
  color: #222;
  line-height: 40px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}
.home .heading .with-margin {
  margin-left: 175px;
}
.home .home-line {
  width: 100%;
  height: 1px;
  background-color: #076324;
  margin: 20px 0;
}
.home video {
  margin-top: 50px;
}

.modal-body {
  position: relative;
  z-index: 1;
  background-color: #111928;
  max-width: 912px;
  width: 100%;
  padding: 48px !important;
}
.modal-body .heading {
  margin-bottom: 48px;
}
.modal-body .heading h1 {
  font-size: 28px;
  color: #222;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}
.modal-body .close {
  position: absolute;
  right: 16px;
  top: 10px;
  z-index: 2;
  cursor: pointer;
}
.modal-body form {
  display: flex;
  flex-direction: column;
}
.modal-body form input {
  max-width: 100%;
  width: 100%;
  background: bottom;
  border-bottom: 1px solid #fff;
  padding: 20px 0;
  margin-bottom: 48px;
  color: white;
}
.modal-body form input#modal-btn {
  border-bottom: none;
  background: #047481;
  color: white;
  margin-bottom: 24px;
}
.modal-body form a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: bottom;
  border: 1px solid #047481;
  height: 63px;
  font-size: 15px;
  color: #222;
  line-height: 24px;
  font-weight: 300;
  color: white;
  cursor: pointer;
}
.modal-body form a:hover {
  background: #047481;
}/*# sourceMappingURL=style.css.map */