@import url("../src/Manrope/stylesheet.css");

$manrope: "Jost";
$lightgreen: #8fcf21;
$green: #076324;
$gray: #5e5f62;
$black: #222;

@mixin font($titleVal, $lineHeight, $fontWeight) {
  font-size: $titleVal;
  color: $black;
  line-height: $lineHeight;
  font-weight: $fontWeight;
}

* {
  font-family: $manrope;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 16px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a:hover {
  color: inherit;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none !important;
  color: white;
}
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    background: $green;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(
      112.92deg,
      rgba(255, 255, 255, 0.36) 10.45%,
      #8fcf21
    );
  }
}

dl,
ol,
ul,
p {
  margin-top: 0;
  margin-bottom: 0 !important;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.menu > li > a {
  text-decoration: none;
}

.navbar__wrap .menu {
  display: flex;
}

.navbar__wrap .menu > li {
  display: flex;
  align-items: stretch;
}

.navbar__wrap .menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 12px;
  color: $black;
  transition: all 0.2s;
  @include font(14px, 14px, 400);
}

.navbar__wrap .menu > li > a:hover {
  color: $green;
  transition: all 0.2s;
}
.navbar__wrap {
  .menu {
    .mobile-li {
      display: none;
    }
  }
}

.cont {
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.custom-btn {
  background-color: $green;
  padding: 17px 40px;
  @include font(16px, 20px, 500);
  color: white;
  transition: all 0.3s;

  &:hover {
    transition: all 0.3s;
    background-color: $lightgreen;
  }
}

header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  transition: top 0.3s ease;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.22);

  .logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 79px;

    a {
      img {
        width: 82px;
        height: 100%;
        position: relative;
        top: 10px;
      }
    }

    .menu {
      li.icon-search {
        margin-left: 40px;
      }

      li.phone-li {
        margin-left: 40px;
      }
    }
  }

  .phone-search {
    display: none;
  }
}

.home {
  position: relative;
  top: 100px;
  padding: 100px 0;

  .heading {
    display: flex;
    flex-direction: column;

    h1 {
      @include font(40px, 40px, 500);
      text-transform: uppercase;
      margin: 0;
    }

    .with-margin {
      margin-left: 175px;
    }
  }

  .home-line {
    width: 100%;
    height: 1px;
    background-color: $green;
    margin: 20px 0;
  }

  video {
    margin-top: 50px;
  }
}

.services {
  position: relative;
  padding: 100px 0;

  .heading {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $green;
    padding: 24px 0 0 0;

    h1 {
      @include font(16px, 16px, 500);
      text-transform: uppercase;
      margin: 0;
    }

    .wrapper-page {
      display: flex;
      gap: 50px;

      a {
        p {
          @include font(16px, 16px, 500);
          text-transform: uppercase;
          text-decoration: underline;
          text-decoration-line: underline;
          color: #0062aa;
        }
      }

      p {
        @include font(16px, 16px, 500);
      }
    }
  }

  .grid {
    margin-top: 50px;
    display: grid;

    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    row-gap: 23px;
    height: 100%;

    .grid-item {
      width: 100%;
      height: 272px;
      display: flex;

      .title {
        margin: auto 0 20px 20px;

        p {
          @include font(14px, 18px, 500);
          text-transform: uppercase;
        }
      }
    }

    #item-1 {
      background-image: url(../src/img/serv-1.jpg);
      background-size: 120%;
      transition: all 0.3s;

      &:hover {
        transition: all 0.3s;
        background-size: 130%;
      }

      .title {
        p {
          color: white;
        }
      }
    }

    #item-3 {
      background-image: url(../src/img/serv-2.jpg);
      background-size: 120%;
      transition: all 0.3s;
      width: 295px;

      &:hover {
        transition: all 0.3s;
        background-size: 130%;
      }

      .title {
        p {
          color: white;
        }
      }
    }

    #item-6 {
      background-image: url(../src/img/serv-3.jpg);
      background-size: 120%;
      transition: all 0.3s;

      &:hover {
        transition: all 0.3s;
        background-size: 130%;
      }

      .title {
        p {
          color: white;
        }
      }
    }

    #item-7 {
      background-image: url(../src/img/serv-4.jpg);
      background-size: 120%;
      transition: all 0.3s;
      background-position: right;

      &:hover {
        transition: all 0.3s;
        background-size: 130%;
      }

      .title {
        p {
          color: white;
        }
      }
    }

    #item-0 {
      grid-row-start: 1;
      grid-column-start: 1;

      grid-row-end: 2;
      grid-column-end: 2;
    }
    #item-1 {
      grid-row-start: 1;
      grid-column-start: 2;

      grid-row-end: 2;
      grid-column-end: 4;
    }
    #item-2 {
      grid-row-start: 1;
      grid-column-start: 4;

      grid-row-end: 2;
      grid-column-end: 6;
    }
    #item-3 {
      grid-row-start: 2;
      grid-column-start: 1;

      grid-row-end: 3;
      grid-column-end: 2;
    }
    #item-4 {
      grid-row-start: 3;
      grid-column-start: 1;

      grid-row-end: 4;
      grid-column-end: 2;
    }
    #item-5 {
      grid-row-start: 2;
      grid-column-start: 2;

      grid-row-end: 3;
      grid-column-end: 4;

      .title {
        margin: auto 0 0 20px;

        p {
          @include font(14px, 18px, 500);
          text-transform: uppercase;
        }
      }
    }
    #item-6 {
      grid-row-start: 2;
      grid-column-start: 4;

      grid-row-end: 3;
      grid-column-end: 6;
    }
    #item-7 {
      grid-row-start: 3;
      grid-column-start: 2;

      grid-row-end: 4;
      grid-column-end: 4;
    }
    #item-8 {
      grid-row-start: 3;
      grid-column-start: 4;

      grid-row-end: 4;
      grid-column-end: 6;
    }
  }
}

.about {
  position: relative;
  padding: 100px 0;

  .heading {
    display: flex;
    border-top: 1px solid $green;
    padding: 24px 0 0 0;

    h1 {
      @include font(16px, 16px, 500);
      margin: 0;
      text-transform: uppercase;
    }

    p {
      display: block;
      max-width: 491px;
      @include font(16px, 22px, 400);
      text-transform: uppercase;
      margin-left: 243px;
    }

    .page-number {
      margin-left: auto;
    }
  }

  .description {
    margin-top: 63px;
    margin-left: 295px;

    .mobile-p {
      display: none;
    }

    h2 {
      @include font(24px, 26px, 500);
      text-transform: uppercase;
      margin: 0;

      span {
        @include font(24px, 26px, 500);
        text-transform: uppercase;
        color: $lightgreen;
      }
    }

    .wrapper-p {
      display: flex;
      gap: 53px;
      margin-top: 63px;

      p {
        @include font(16px, 20px, 400);
        max-width: 434px;
        width: 100%;

        &:last-child {
          max-width: 458px;
        }
      }
    }
  }

  .wrapper-img {
    margin-top: 28px;
    display: flex;
    align-items: start;
    gap: 25px;

    .smaller-img {
      display: block;
      max-width: 270px;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }

    .bigger-img {
      max-width: 362px;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }

    h3 {
      @include font(96px, 67px, 500);
      color: $lightgreen;
      margin: 0;
      margin-top: auto;
      position: relative;
      right: 115px;
    }
  }

  .wrapper-text-btn {
    margin-top: 28px;
    margin-left: 295px;
    display: flex;
    flex-direction: column;
    gap: 50px;

    p {
      @include font(16px, 24px, 400);
      text-transform: uppercase;
      max-width: 487px;
      margin-bottom: 50px;
    }

    a {
      @include font(16px, 26px, 500);
      color: #0062aa;
      text-transform: uppercase;
    }
  }
}

footer {
}

.modal-body {
  position: relative;
  z-index: 1;
  background-color: #111928;
  max-width: 912px;
  width: 100%;
  padding: 48px !important;

  .heading {
    margin-bottom: 48px;

    h1 {
      @include font(28px, 32px, 400);
      text-transform: uppercase;
      color: #ffffff;
    }
  }

  .close {
    position: absolute;
    right: 16px;
    top: 10px;
    z-index: 2;
    cursor: pointer;
  }

  form {
    display: flex;
    flex-direction: column;

    input {
      max-width: 100%;
      width: 100%;
      background: bottom;
      border-bottom: 1px solid #fff;
      padding: 20px 0;
      margin-bottom: 48px;
      color: white;
    }

    input#modal-btn {
      border-bottom: none;
      background: #047481;
      color: white;
      margin-bottom: 24px;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      background: bottom;
      border: 1px solid #047481;
      height: 63px;
      @include font(15px, 24px, 300);
      color: white;
      cursor: pointer;

      &:hover {
        background: #047481;
      }
    }
  }
}
