@import url("../src/Manrope/stylesheet.css");
* {
  font-family: "Jost";
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 16px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a:hover {
  color: inherit;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none !important;
  color: white;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #076324;
}
html::-webkit-scrollbar-thumb {
  background: linear-gradient(112.92deg, rgba(255, 255, 255, 0.36) 10.45%, #8fcf21);
}

dl,
ol,
ul,
p {
  margin-top: 0;
  margin-bottom: 0 !important;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.menu > li > a {
  text-decoration: none;
}

.navbar__wrap .menu {
  display: flex;
}

.navbar__wrap .menu > li {
  display: flex;
  align-items: stretch;
}

.navbar__wrap .menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 12px;
  color: #222;
  transition: all 0.2s;
  font-size: 14px;
  color: #222;
  line-height: 14px;
  font-weight: 400;
}

.navbar__wrap .menu > li > a:hover {
  color: #076324;
  transition: all 0.2s;
}

.navbar__wrap .menu .mobile-li {
  display: none;
}

.cont {
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.custom-btn {
  background-color: #076324;
  padding: 17px 40px;
  font-size: 16px;
  color: #222;
  line-height: 20px;
  font-weight: 500;
  color: white;
  transition: all 0.3s;
}
.custom-btn:hover {
  transition: all 0.3s;
  background-color: #8fcf21;
}

header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  transition: top 0.3s ease;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.22);
}
header .logo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 79px;
}
header .logo-menu a img {
  width: 82px;
  height: 100%;
  position: relative;
  top: 10px;
}
header .logo-menu .menu li.icon-search {
  margin-left: 40px;
}
header .logo-menu .menu li.phone-li {
  margin-left: 40px;
}
header .phone-search {
  display: none;
}

.home {
  position: relative;
  top: 100px;
  padding: 100px 0;
}
.home .heading {
  display: flex;
  flex-direction: column;
}
.home .heading h1 {
  font-size: 40px;
  color: #222;
  line-height: 40px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}
.home .heading .with-margin {
  margin-left: 175px;
}
.home .home-line {
  width: 100%;
  height: 1px;
  background-color: #076324;
  margin: 20px 0;
}
.home video {
  margin-top: 50px;
}

.services {
  position: relative;
  padding: 100px 0;
}
.services .heading {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #076324;
  padding: 24px 0 0 0;
}
.services .heading h1 {
  font-size: 16px;
  color: #222;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}
.services .heading .wrapper-page {
  display: flex;
  gap: 50px;
}
.services .heading .wrapper-page a p {
  font-size: 16px;
  color: #222;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-line: underline;
  color: #0062aa;
}
.services .heading .wrapper-page p {
  font-size: 16px;
  color: #222;
  line-height: 16px;
  font-weight: 500;
}
.services .grid {
  margin-top: 50px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 23px;
  height: 100%;
}
.services .grid .grid-item {
  width: 100%;
  height: 272px;
  display: flex;
}
.services .grid .grid-item .title {
  margin: auto 0 20px 20px;
}
.services .grid .grid-item .title p {
  font-size: 14px;
  color: #222;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.services .grid #item-1 {
  background-image: url(../src/img/serv-1.jpg);
  background-size: 120%;
  transition: all 0.3s;
}
.services .grid #item-1:hover {
  transition: all 0.3s;
  background-size: 130%;
}
.services .grid #item-1 .title p {
  color: white;
}
.services .grid #item-3 {
  background-image: url(../src/img/serv-2.jpg);
  background-size: 120%;
  transition: all 0.3s;
  width: 295px;
}
.services .grid #item-3:hover {
  transition: all 0.3s;
  background-size: 130%;
}
.services .grid #item-3 .title p {
  color: white;
}
.services .grid #item-6 {
  background-image: url(../src/img/serv-3.jpg);
  background-size: 120%;
  transition: all 0.3s;
}
.services .grid #item-6:hover {
  transition: all 0.3s;
  background-size: 130%;
}
.services .grid #item-6 .title p {
  color: white;
}
.services .grid #item-7 {
  background-image: url(../src/img/serv-4.jpg);
  background-size: 120%;
  transition: all 0.3s;
  background-position: right;
}
.services .grid #item-7:hover {
  transition: all 0.3s;
  background-size: 130%;
}
.services .grid #item-7 .title p {
  color: white;
}
.services .grid #item-0 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
}
.services .grid #item-1 {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 4;
}
.services .grid #item-2 {
  grid-row-start: 1;
  grid-column-start: 4;
  grid-row-end: 2;
  grid-column-end: 6;
}
.services .grid #item-3 {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
}
.services .grid #item-4 {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 2;
}
.services .grid #item-5 {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 4;
}
.services .grid #item-5 .title {
  margin: auto 0 0 20px;
}
.services .grid #item-5 .title p {
  font-size: 14px;
  color: #222;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.services .grid #item-6 {
  grid-row-start: 2;
  grid-column-start: 4;
  grid-row-end: 3;
  grid-column-end: 6;
}
.services .grid #item-7 {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-row-end: 4;
  grid-column-end: 4;
}
.services .grid #item-8 {
  grid-row-start: 3;
  grid-column-start: 4;
  grid-row-end: 4;
  grid-column-end: 6;
}

.about {
  position: relative;
  padding: 100px 0;
}
.about .heading {
  display: flex;
  border-top: 1px solid #076324;
  padding: 24px 0 0 0;
}
.about .heading h1 {
  font-size: 16px;
  color: #222;
  line-height: 16px;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
}
.about .heading p {
  display: block;
  max-width: 491px;
  font-size: 16px;
  color: #222;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 243px;
}
.about .heading .page-number {
  margin-left: auto;
}
.about .description {
  margin-top: 63px;
  margin-left: 295px;
}
.about .description .mobile-p {
  display: none;
}
.about .description h2 {
  font-size: 24px;
  color: #222;
  line-height: 26px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}
.about .description h2 span {
  font-size: 24px;
  color: #222;
  line-height: 26px;
  font-weight: 500;
  text-transform: uppercase;
  color: #8fcf21;
}
.about .description .wrapper-p {
  display: flex;
  gap: 53px;
  margin-top: 63px;
}
.about .description .wrapper-p p {
  font-size: 16px;
  color: #222;
  line-height: 20px;
  font-weight: 400;
  max-width: 434px;
  width: 100%;
}
.about .description .wrapper-p p:last-child {
  max-width: 458px;
}
.about .wrapper-img {
  margin-top: 28px;
  display: flex;
  align-items: start;
  gap: 25px;
}
.about .wrapper-img .smaller-img {
  display: block;
  max-width: 270px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.about .wrapper-img .bigger-img {
  max-width: 362px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.about .wrapper-img h3 {
  font-size: 96px;
  color: #222;
  line-height: 67px;
  font-weight: 500;
  color: #8fcf21;
  margin: 0;
  margin-top: auto;
  position: relative;
  right: 115px;
}
.about .wrapper-text-btn {
  margin-top: 28px;
  margin-left: 295px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.about .wrapper-text-btn p {
  font-size: 16px;
  color: #222;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  max-width: 487px;
  margin-bottom: 50px;
}
.about .wrapper-text-btn a {
  font-size: 16px;
  color: #222;
  line-height: 26px;
  font-weight: 500;
  color: #0062aa;
  text-transform: uppercase;
}

.advantages {
  position: relative;
}
.advantages .heading {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #076324;
  padding: 24px 0 0 0;
}
.advantages .heading h1 {
  font-size: 16px;
  color: #222;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}
.advantages .grid {
  margin-top: 50px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  height: 100%;
  margin-left: 295px;
}
.advantages .grid .grid-item {
  width: 301px;
  height: 301px;
  background-image: url(../src/img/bg-adv.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: white;
  border: 1px solid #0062aa;
  border-bottom: none;
  display: flex;
  padding: 20px;
}
.advantages .grid .grid-item p {
  font-size: 14px;
  color: #222;
  line-height: 16px;
  font-weight: 400;
  margin-bottom: auto;
}
.advantages .grid .grid-item p.desc {
  margin-top: auto;
}
.advantages #item-0 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
}
.advantages #item-1 {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
}
.advantages #item-2 {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 4;
}
.advantages #item-3 {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
}
.advantages #item-4 {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
}

.news {
  position: relative;
  padding: 100px 0;
}
.news .heading {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #076324;
  padding: 24px 0 0 0;
}
.news .heading h1 {
  margin: 0;
  font-size: 16px;
  color: #222;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.news .heading .wrapper-page {
  display: flex;
  gap: 50px;
}
.news .heading .wrapper-page a p {
  font-size: 16px;
  color: #222;
  line-height: 16px;
  font-weight: 500;
  color: #0062aa;
  text-decoration-line: underline;
  text-transform: uppercase;
  display: block;
}
.news .heading .wrapper-page p {
  font-size: 16px;
  color: #222;
  line-height: 16px;
  font-weight: 500;
  display: block;
}
.news .wrapper-news {
  margin-left: 295px;
  margin-top: 50px;
}
.news .wrapper-news .news-item {
  display: flex;
  border-bottom: 1px solid #076324;
  padding: 20px 0;
}
.news .wrapper-news .news-item .date p {
  font-size: 14px;
  color: #222;
  line-height: 14px;
  font-weight: 500;
}
.news .wrapper-news .news-item .img-desc {
  display: flex;
  gap: 20px;
  margin-left: 70px;
  margin-right: 60px;
}
.news .wrapper-news .news-item .img-desc img {
  max-width: 291px;
  height: 100%;
  width: 100%;
}
.news .wrapper-news .news-item .img-desc .desc {
  max-width: 305px;
}
.news .wrapper-news .news-item .img-desc .desc h1 {
  font-size: 20px;
  color: #222;
  line-height: 20px;
  font-weight: 500;
}
.news .wrapper-news .news-item .img-desc .desc p {
  font-size: 14px;
  color: #222;
  line-height: 16px;
  font-weight: 400;
}
.news .wrapper-news .news-item a {
  font-size: 14px;
  color: #222;
  line-height: 14px;
  font-weight: 500;
  color: #0062aa;
  transition: all 0.3s;
}
.news .wrapper-news .news-item a:hover {
  color: #076324;
  transition: all 0.3s;
}
.news .wrapper-news .news-item:last-child {
  border: none;
}

.order {
  position: relative;
  padding-bottom: 100px;
}
.order .heading {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #076324;
  padding: 24px 0 0 0;
}
.order .heading h1 {
  font-size: 16px;
  color: #222;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}
.order .title {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.order .title a {
  font-size: 40px;
  color: #222;
  line-height: 40px;
  font-weight: 500;
  color: #8fcf21;
  text-transform: uppercase;
}
.order .title a.phone-link {
  margin-left: 295px;
  margin-top: 20px;
}
.order .wrapper-form {
  margin-left: 295px;
}
.order .wrapper-form form {
  display: flex;
  flex-wrap: wrap;
}
.order .wrapper-form form .user-box {
  position: relative;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}
.order .wrapper-form form .user-box input {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 50px;
  border: none;
  border-bottom: 1px solid #303030;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: #222;
  line-height: 16px;
  font-weight: 400;
  color: #303030;
}
.order .wrapper-form form .user-box input:focus + label {
  top: -20px;
  left: 0;
  font-size: 12px;
}
.order .wrapper-form form .user-box input.full + label {
  top: -20px;
  left: 0;
  font-size: 12px;
}
.order .wrapper-form form .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #222;
  line-height: 16px;
  font-weight: 400;
  color: #303030;
  pointer-events: none;
  transition: all 0.2s;
}
.order .wrapper-form form .user-box-1 {
  margin-right: 39px;
}
.order .wrapper-form form .user-box-1,
.order .wrapper-form form .user-box-2 {
  flex-basis: 50%;
  max-width: 453px;
}
.order .wrapper-form form .user-box-3 {
  flex-basis: 100%;
}
.order .wrapper-form form .submit-user {
  margin-top: 50px;
  background: transparent;
  font-size: 16px;
  color: #222;
  line-height: 26px;
  font-weight: 500;
  color: #0062aa;
  text-transform: uppercase;
  transition: color 0.2s;
}
.order .wrapper-form form .submit-user:hover {
  color: #076324;
  transition: color 0.2s;
}

.modal-body {
  position: relative;
  z-index: 1;
  background-color: #111928;
  max-width: 912px;
  width: 100%;
  padding: 48px !important;
}
.modal-body .heading {
  margin-bottom: 48px;
}
.modal-body .heading h1 {
  font-size: 28px;
  color: #222;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}
.modal-body .close {
  position: absolute;
  right: 16px;
  top: 10px;
  z-index: 2;
  cursor: pointer;
}
.modal-body form {
  display: flex;
  flex-direction: column;
}
.modal-body form input {
  max-width: 100%;
  width: 100%;
  background: bottom;
  border-bottom: 1px solid #fff;
  padding: 20px 0;
  margin-bottom: 48px;
  color: white;
}
.modal-body form input#modal-btn {
  border-bottom: none;
  background: #047481;
  color: white;
  margin-bottom: 24px;
}
.modal-body form a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: bottom;
  border: 1px solid #047481;
  height: 63px;
  font-size: 15px;
  color: #222;
  line-height: 24px;
  font-weight: 300;
  color: white;
  cursor: pointer;
}
.modal-body form a:hover {
  background: #047481;
}/*# sourceMappingURL=style.css.map */